.counter-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.counter-button {
  border-radius: 20%;
  color: #0081b4;
  font-size: 22px;
  font-weight: 800;
  margin: 1em;
}

.counter-button:hover {
  color: #042bdb;
  cursor: pointer;
}

.counter-digits {
  font-size: 36px;
  font-weight: 800;
  min-width: 2em;
  text-align: center;
}